<div class="pull-right" ng-if="!$ctrl.newFormVisible">
  <p><a class="btn btn-info" ng-click="$ctrl.toggleNewPostForm()"><span>New Post</span></a></p>
</div>
<div class="pull-right" ng-if="$ctrl.newFormVisible">
  <p><a class="btn btn-info" ng-click="$ctrl.toggleNewPostForm()"><span>Cancel</span></a></p>
</div>

<ul class="nav nav-pills" ng-if="!$ctrl.newFormVisible">
  <li role="presentation" class="active">
    <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="$ctrl.filter">
  </li>
  <div class="form-inline">
    <label for="sort">&nbsp;Sort by&nbsp;</label>
    <select class="form-control" ng-model="$ctrl.sort">
      <option value="-vote_count" selected="true">Most Popular</option>
      <option value="-created_at">Most Recent</option>
      <option value="title">Title (A-Z)</option>
    </select>
  </div>
</ul>

<div class="row" ng-if="$ctrl.newFormVisible">
  <div class="col-md-8">

    <form ng-submit="$ctrl.createArticle()">
      <div>
        <label for="title">Title</label>
        <input id="title" class="form-control" ng-model="$ctrl.newArticle.title">
      </div>
      <div>
        <label for="body">Body</label>
        <textarea id="body" class="form-control" ng-model="$ctrl.newArticle.body"></textarea>
      </div>
      <div>
        <label for="author">Author</label>
        <input id="author" class="form-control" ng-model="$ctrl.newArticle.author">
      </div>
      <div>
        <label for="image-url">Image URL</label>
        <input id="image-url" class="form-control" ng-model="$ctrl.newArticle.image_url">
      </div><br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Create Post
        </button>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ng-pluralize count="$ctrl.articles.length"
      when="{'0': 'No Articles:',
        'one': '1 Article:',
        'other': '{} Articles:'}">
    </ng-pluralize>

    <div ng-repeat="article in $ctrl.articles | filter:{title: $ctrl.filter} | orderBy:$ctrl.sort">
      <div class="well">
        <div class="media-left">
          <img class="media-object" ng-src="{{article.image_url}}">
          <div class="text-center">
            <a ui-sref="edit-article({ articleId: article.id })">edit</a>
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{article.title}}
            |
            <a ng-click="$ctrl.upVote(article.id)"><i class="glyphicon glyphicon-arrow-up"></i></a>
            <a ng-click="$ctrl.downVote(article.id)"><i class="glyphicon glyphicon-arrow-down"></i></a>
            {{article.vote_count}}
          </h4>
          <div class="text-right">
          Message age: <span am-time-ago="article.created_at"></span>
          </div>
          <div class="text-right">
            {{article.author}}
          </div>
          <p>
            {{article.body}}
          </p>
          <ng-pluralize count="article.comments.length"
            when="{'0': 'No Comments:',
              'one': '1 Comment:',
              'other': '{} Comments:'}">
          </ng-pluralize> | <a ng-click="$ctrl.toggleCommentForm(article.id)"><i class="glyphicon glyphicon-comment"></i></a>
          <div ng-repeat="comment in article.comments">
            <div>
              {{ comment.created_at | date:'MM-dd-yyyy @ h:mm a' }} - {{comment.content}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1" ng-if="article.newCommentVisible">
              <hr>
              Add a Comment:
              <form class="form-inline" ng-submit="$ctrl.addComment(article.id)">
                <div class="form-group">
                  <input class="form-control" ng-model="$ctrl.newComment.content">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
